body {
    background: linear-gradient(rgb(22, 31, 68), var(--main)), url();
    pointer-events:all;
}

#pagetitle {
    font-size: 45px;
    font-weight: 700;
    color: white;
    padding-top: 15px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    
    text-align: center;
    margin-top: 150px;
    text-transform: uppercase;
    border-top: 5px solid var(--second);
    border-right: 5px solid var(--second);
}

#everything {
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 200px;
}

#nav {
    position: fixed;
    height: 500px;
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1300px;
    top: 200px;
}
#m1, #m2, #m3 {
    color: var(--third);
    font-weight: 600;
    font-size: 20px;
}
#line, #line1 {
    height: 100px;
    border: 2px solid white;
    width: 0;
    border-radius: 100px;
    margin-top: -15px;
    margin-bottom: -15px;
}
#line1 {
    height: 50px;
}

#roomsec, #datesec, #addresssec {
    width: 1000px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#roomsec {
    flex-direction: row;
    align-items: center;
} 
#addresssec {
    margin-top: 100px;
}

#left, #right {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
}
#left {
    width: 600px;
}
#right {
    width: 500px;
}

#roomimage, #roomimage1 {
    width: 500px;
    aspect-ratio: 10/7;
    object-fit: cover;
    border-top: 5px solid var(--third);
    border-left: 5px solid var(--third);
    object-position: center;
}
#roomimage1 {
    border: none;
    border-top: 5px solid var(--third);
    border-right: 5px solid var(--third);
}

#roomtitle {
    font-size: 25px;
    color: var(--second);
    font-weight: 600;

}

#roomselect1, #roomselect2 {
    width: 150px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 600;
    border: none;
    outline: None;
    border-bottom: 5px solid var(--third);
    border-left: 5px solid var(--third);
    color: white;
    background: var(--mainhover);
    transition: 0.3s;
}
#roomselect1:hover, #roomselect2:hover {
    transform: scale(1.1);
    color: var(--third);
    cursor: pointer;
}

#datehead {
    font-size: 35px;
    font-family: "Poppins";
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

#disclaimer {
    color: var(--second);
    margin-top: -30px;
    font-size: 15px;
}

#titlewhole {
    color: white;
    font-weight: 600;
    font-size: 20px;
}
#start, #street, #city, #state {
    background: Var(--main);
   width: 400px; 
    font-family: "Poppins";
    font-weight: 600;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 5px solid var(--third);
    border-right: 5px solid var(--third);
}
#street, #city, #state {
    padding: 10px;
    color: white;
    font-size: 17px;
}
#state {
    width: 100px;
    text-transform: uppercase;
}


::-webkit-datetime-edit { 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

}
::-webkit-datetime-edit-fields-wrapper { background: transparent; }
::-webkit-datetime-edit-text { color: var(--second); padding: 10px; }
::-webkit-datetime-edit-month-field { color: white;}
::-webkit-datetime-edit-day-field { color: var(--third); }
::-webkit-datetime-edit-year-field { color: white; }
::-webkit-inner-spin-button { display: none; }
::-webkit-calendar-picker-indicator { padding-right: 15px; }



/*
#back {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(23, 48, 149, 0.6)), url(./images/surface.jpg);
    height: 100vh;
    background-position: bottom right;
    padding-top: 50px;
    text-align: center;
}
#header {
    margin-top: 100px;
    font-size: 80px;
    color: var(--second);
    text-transform: uppercase;
    font-weight: 700;
}
#links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#arrow {
    color: white;
    margin-right: 10px;
}
#option,#option1 {
    display: flex;
    align-items: center;
    color: var(--second);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    height: 100px;
    text-decoration: none;
}
#option1 {
    color: var(--second);
    margin-top: -50px;
    transition: 0.2s;
}
#option1:hover {
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

#option {
    margin-top: -10px;
    transition: 0.2s;
}
#option:hover {
    margin-left: 20px;
    color: white;
    cursor: pointer;
}

#countdown {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#timesection {
    font-family: "Poppins";
    margin-left: -1px;
    margin-right: -1px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid rgb(51, 72, 119);
    border-right: 2px solid rgb(51, 72, 119);
    padding-left: 70px;
    padding-right: 70px;
}
#days, #hours, #minutes, #seconds {
    color: var(--third);
    font-weight: 600;
    font-size: 50px;
}

#word {
    color: white;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase; 
}

@media only screen and (max-width: 1024px) {

    #back {
        height: 1500px;
        padding-top: 300px;
        background-position: center bottom;
        background-repeat: none;
    }
    #title {
        font-size: 120px;
    }
    #sub {
        font-size: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #option, #option1 {
        font-size: 75px;
        margin-top: 20px;
    }
    #timesection {
        height: 250px;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 70px;
    }
    #word {
        font-size: 40px;
    }

}




*/