@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antonio:wght@200&display=swap');


:root {
    --main: rgb(0, 52, 163);
    --second: rgb(0,52, 163);
}

body {
    background: rgb(239, 243, 248);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: gray;
}


/* dont change anything below here for now*/

#menu {
	position: fixed;
	margin-top: 0px;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: transparent;
	transition: 0.5s;
}

#github-logo {
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: -10px;
    filter: invert();
}

#name {
    font-family: "Quicksand";
	text-align: center;
	width: 100%;
	top: 200px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	font-size: 60px;
	z-index: 101;
	color: rgb(227, 242, 255);
	pointer-events: none;
}

#programmer {
    font-size: 30px;
    font-family: "Abel";
    color: rgb(157, 214, 255);
}

#username {
    margin-left: 10px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
    font-family: "Abel";
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

#username:hover {
    color: grey;;
}

#menu-button {
    filter: invert();
	pointer-events: all;
	display: none;
}

#logo {
	position: fixed;
	margin-left: 20px;
	margin-top: -10px;
	display: inline-block;
}

#first-tab {
	margin-left: 20px;
}
.tab {
	margin-left: 20px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
    font-family: "Abel";
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

.tab:hover {
	color: turquoise;
	border-bottom: 1px solid turquoise;
}
.border-light-blue {
    border-color: rgb(103, 181, 255);
}

.border-darkish-blue {
    border-color: rgb(0, 104, 202);
}

#bg {
    background: url(https://wallpaperaccess.com/full/17520.jpg);
    background-repeat: no-repeat;
    background-size: 120%;
    background-position-y: -100px;
    background-position-x: -100px;
    animation: move-around;
    animation-duration: 12s;
    animation-iteration-count: infinite;
	margin-top: 100px;
	width: 100vw;
	height: 800px;
	top: -100px;
	position: relative;
	z-index: 100;
	text-align: center;
	pointer-events: none;
}
