@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antonio:wght@200&display=swap');


:root {
    --main: rgb(15, 18, 28);
    --second: rgb(154, 221, 255);
}

body {
    background: rgb(15, 18, 28);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
	transition:all 10s;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: gray;
}


/* dont change anything below here for now*/

#menu {
	position: fixed;
	margin-top: 0px;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: transparent;
	transition: 0.5s;
}

#github-logo {
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: -10px;
    filter: invert();
}

#bg-content {
	height: 400px;
	padding-top: 20vh;
	justify-content: center;
	align-items: center;
	position: relative;
}

#titleboxes {
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#titlebox, #titlebox2 {
	width: 500px;
	height: 200px;
	margin-left: 10vw;
	margin-right: 10vw;
	padding-top:200px;
	
}
#titlebox {
	border-top: 3px solid white;
	border-left: 3px solid white;
	transition: 0.5s;
	z-index: 104;
}
#titlebox2 {
	border-bottom: 3px solid white;
	border-right: 3px solid white;
	top: 400px;
}
/*
#buttons {
	width: 100%;
	margin-top: 200px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

#buttonboxes {
	width: 130px;
	height: 30px;
	position: absolute;
	color: white;
	font-family: "Poppins";
	font-weight: 600;
	text-align: center;
	transition: 0.1s;
}
#buttonbox, #buttonbox2 {
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-bottom: -10px;
}
#buttonbox {
	border-top: 2px solid white;
	border-left: 2px solid white;
}
#buttonbox2 {
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	margin-left: 110px;
}
*/

#bg {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(23, 67, 149, 0.6)), url(./images/earth.jpg);
    background-repeat: no-repeat;
    background-size: 110%;
	margin-top: 100px;
	top: -100px;
	background-position-x: -100px;
	background-position-y: -100px;
	width: 100vw;
	height: 110vh;
	animation: move-around;
    animation-duration: 35s;
    animation-iteration-count: infinite;
	position: relative;
	z-index: 100;
	text-align: center;
	pointer-events: none;
}

#slant {
	background: rgb(21, 25, 38);
	height: 265px;
	margin-top: -310px;
	width: 135%;
	margin-left: -20px;
	position: relative;
	z-index: 100;
	transform: rotate(0deg);
}

#title {
    font-family: "Poppins";
	font-weight: 600;
	margin-left: auto;
	margin-right: auto;
	font-size: 100px;
	letter-spacing: 25px;
	z-index: 101;
	color: rgb(227, 242, 255);
	pointer-events: none;
}

#subtitle {
    font-size: 30px;
    font-family: "Poppins";
    color: rgb(157, 214, 255);
	letter-spacing: 15px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: -60px;
}


#username {
    margin-left: 10px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

#username:hover {
    color: grey;;
}

#menu-button {
    filter: invert();
	pointer-events: all;
	display: none;
}

#logo {
	position: fixed;
	margin-left: 20px;
	margin-top: -10px;
	display: inline-block;
}

#first-tab {
	margin-left: 20px;
}
.tab {
	margin-left: 20px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
    font-family: "Abel";
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

.tab:hover {
	color: turquoise;
	border-bottom: 1px solid turquoise;
}
.border-light-blue {
    border-color: rgb(103, 181, 255);
}

.border-darkish-blue {
    border-color: rgb(0, 104, 202);
}


.contentsection {
    background-repeat: no-repeat;
    background-size: 110%;
	margin-top: 100px;
	top: -200px;
	background-position-x: -100px;
	background-position-y: -100px;
	width: 100vw;
	height: 100vh;
	animation: move-around;
    animation-duration: 35s;
    animation-iteration-count: infinite;
	position: relative;
	z-index: 0;
	text-align: left;
	pointer-events: none;
	padding-top: 200px;
	padding-left: 20VW;
	background-size:cover;
}
#sec1 {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(23, 48, 149, 0.6)), url(https://wallpapercave.com/wp/wp9250079.jpg);
}
#sec2 {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(149, 84, 23, 0.1)), url(./images/takeoff.jpg);
}
.contentfull {
	display: flex;
	align-items: center;
}
.contentcontent {
	width: 35vw;
}
.contentheader {
	color: var(--second);
	font-family: "Poppins";
	font-weight: 700;
	font-size: 7vw;
	line-height: 120px;
}
.contenttext {
	margin-top: -100px;
	color: whitesmoke;
	font-size: 17px;
	line-height: 35px;
	font-family: "Poppins";
}

.contentbuttonbg {
	margin-top: 7vw;
	margin-left: 10vw;
	background: var(--second);
	height: 175px;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 175px;
	border-radius: 100%;
}
.contentbutton {
	color: white;
	font-size: 700px;
	text-decoration: none;
	font-family: "Poppins";
	font-weight: 600;
	line-height: 300px;
}
.contentbuttontext {
	font-family: "Poppins";
	color: white;
	font-size: 30px;
	font-weight: 700;
	margin-left: -100px;

}
.contentbuttonbg:hover {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 89, 167, 0.6)), url(./images/earth.jpg);
	background-size:cover;
	background-position: top;
	transform: scale(1.1);
}
.contentbuttonbg:hover .contentbuttontext {
	color: var(--second);
}