body {
    background: linear-gradient(rgb(22, 31, 68), var(--main)), url();
    pointer-events:all;
}

#back {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(23, 48, 149, 0.5)), url(./images/safety.jpg);
    height: 500px;
    margin-top: -30px;
    background-position: center left;
    padding-top: 100px;
    text-align: center;
}

#disclaimer {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
#header, #header1 {
    font-size: 70px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 6px solid var(--second);
    border-left: 6px solid var(--second);
    color: white;
    width: 1000px;
    margin-top: 0;
    margin-bottom: 150px;
    text-align: center;
}
#header1 {
    border-top: 6px solid #ff7d7d;
    border-left: 6px solid #ff7d7d;
}
#text {
    font-size: 18px;
    color: white;
    margin-left: 20px;
}
#listing, #listings, #listing1, #listing11, #listing2 {
    margin-top: -120px;
    display: flex;
    width: 900px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    align-items: center;
}
#listings, #listing2, #listing11 {
    margin-top: -150px;
}
#listing1 {
    border-right: 6px solid var(--second);
    border-bottom: 6px solid var(--second);
}
#listing11 {
    
    border-right: 6px solid var(--second);
    border-bottom: 6px solid var(--second);
}
#listing2 {
    border-right: 6px solid #ff7d7d;
    border-bottom: 6px solid #ff7d7d;
}
#num {
    font-size: 50px;
    font-weight: 700;
    color: var(--third);
}

@media only screen and (max-width: 1024px) {

    #back {
        height: 800px;
        padding-top: 500px;
        background-position: right;
    }
    #disclaimer {
        padding-left: 50px;
        padding-right: 50px;
        width: 800px;
    }
    #title {
        font-size: 100px;
    }
    #sub {
        font-size: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }
    #section {
        margin: 0;
        padding: 0;
        margin-top: 100px;
    }
    #header, #header1 {
        font-size: 80px;
        padding:0;
        text-align: center;
        padding-top: 50px;
        width: 900px;
        margin: auto;
    }
    #header1 {
        font-size: 60px;
    }
    #listing, #listing1, #listings, #listing2 {
        padding: 0;
        margin: 0;
        width: 900px;
        margin: auto;
        margin-top: 30px;
    }
    #listing1, #listing2 {
        padding-bottom: 50px;
    }
    #num {
        width: 50px;

    }
    #text {
        width: 800px;
    }
}
