body {
    background: linear-gradient(rgb(22, 31, 68), var(--main)), url();
    pointer-events:all;
}

#back {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(23, 48, 149, 0.3)), url(./images/travel.jpg);
    height: 600px;
    margin-top: -30px;
    background-position: bottom right;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}


#sub {
    margin-top: -20px;
    margin-bottom: 20px;
    color: var(--second);
    font-weight: 600;
}

#countdown {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
#timesection {
    font-family: "Poppins";
    margin-left: -1px;
    margin-right: -1px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-left: 2px solid rgb(51, 72, 119);
    border-right: 2px solid rgb(51, 72, 119);
    padding-left: 30px;
    padding-right: 30px;
}
#days, #hours, #minutes, #seconds {
    color: var(--third);
    font-weight: 600;
    font-size: 40px;
}

#word {
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0px;
    text-transform: uppercase; 
}




#section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header {
    font-size: 70px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 6px solid var(--second);
    border-left: 6px solid var(--second);
    color: white;
    width: 700px;
    margin-top: 0;
    text-align: center;
}




#planet {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#planetimage {
    width: 150px;
    height: 150px;
    border-right: 6px solid var(--third);
    padding-bottom: 50px;
    padding-left: 50px;
    padding-top: 50px;
    padding-right: 50px;
}

.planetinfo {
    border-left: 6px solid var(--second);
    margin-left: 30px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 18px;
    height: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#planetinfo1 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 149, 0.6)), url(./images/agenonsurface.jpg);
    background-size: cover;
    background-position: center;
}
#planetinfo2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 149, 0.6)), url(./images/dramangodesurface.jpg);
    background-size: cover;
    background-position: center;
}
#planetinfo3 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 149, 0.6)), url(./images/bizzariosurface.jpg);
    background-size: cover;
    background-position: left bottom;
}
#planetinfo4 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(23, 48, 149, 0.6)), url(./images/terransurface.jpg);
    background-size: cover;
    background-position: center;
}
#planetinfo5 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(23, 48, 149, 0.6)), url(./images/vanichorsurface.jpg);
    background-size: cover;
    background-position: center;
}

#planetheader {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--second);
    margin-bottom: -10px;
}
#planettext {
    font-size: 18px;
    color: white;
}

#disclaimer {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
}
#choice {
    background: linear-gradient(rgb(12, 24, 47), rgb(25, 42, 73)), url();
    border-bottom: 6px solid var(--second);
    border-right: 6px solid var(--second);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    transition: 0.4s;
}
#choice:hover {
    transform: scale(1.1);
}
#price {
    font-size: 40px;
    color: var(--third);
    font-weight: 700;
}

#details {
    color: white;
    margin-bottom: 30px;
}

#book, #book1, #book2 {
    width: 100px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    outline: none;
    border: none;
    border-top: 3px solid var(--second);
    border-left: 3px solid var(--second);
    border-bottom: 3px solid transparent;
    border-right: 3px solid transparent;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins";
    transition: 0.2s;
}
#book:hover, #book1:hover, #book2:hover{
    color: var(--third);
    border-top: 3px solid transparent;
    border-left: 3px solid transparent;
    border-bottom: 3px solid var(--second);
    border-right: 3px solid var(--second);
    cursor: pointer;
}

#qa {
    width: 1000px;
}
.qaheader {
    background: linear-gradient(rgb(12, 24, 47), rgb(25, 42, 73)), url();
    border-top: 6px solid var(--second);
    border-left: 6px solid var(--second);
    height: 100px;
    padding-left: 30px;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    z-index: 101;
    margin-top: 30px;
}
#tripheader, #activityheader, #foodheader, #roomheader, #planetsheader, #qa1, #qa2, #qa3, #qa4, #qa5 {
    transition: 0.3s;
}

.qaheader:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: var(--third);
}
.qainfo {
    background: linear-gradient(rgb(25, 42, 73), var(--main2)), url();
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border-bottom: 6px solid var(--third);
    border-right: 6px solid var(--third);
    text-transform: uppercase;
    color: var(--third);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
    height: 0px; padding-top: 0; padding-bottom: 0; border: 0;
}

.day {
    color: var(--second);
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    text-align: left;
    text-transform: none;
    display: flex;
    align-items: center;
}
#qatext, #qatext1 {
    font-weight: normal;
    margin-left: 20px;
    color: white;
    text-transform: none;
    font-size: 18px;
    line-height: 35px;
}
.qasec {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qasec1 {
    margin-top: 50px;
}
#qaimage, #qaimages, #qaimages2 {
    width: 275px;
    margin-left: 10px;
    margin-right: 10px;
    height: 150px;
    object-fit: cover;
}
#qaimages, #qaimages2 {
    border-top: 6px solid var(--third);
    border-left: 6px solid var(--third);
    width: 500px;
    height: 300px;
}
#qaimages2 {
    width: 400px;
    height: 250px;
}


@media only screen and (max-width: 1024px) {
    #back {
        height: 800px;
        padding-top: 500px;
        background-position: right bottom;
    }
    #title {
        font-size: 100px;
        border-width: 10px;
    }
    #sub {
        font-size: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #timesection {
        height: 250px;
        width: 200px;
    }
    #days, #hours, #minutes, #seconds {
        font-size: 70px;
    }
    #word {
        font-size: 40px;
    }

    #header {
        font-size: 100px;
        width: 100%;
        margin: 0;
        margin-top: 100px;
        padding:0;
        border: none;
        text-align: center;
    }

    #planet, #choices {
        display: flex;
        flex-direction: column;
    }

    #planetimage {
        width: 500px;
        height: 500px;
        border-right: unset;
    }

    .planetinfo {
        border-left: 6px solid var(--second);
        border-width: 10px;
        margin-left: 50px;
        margin-right: 70px;
        padding-bottom: 150px;
        height: 800px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    #planetheader {
        font-size: 90px;
    }

    #planettext {
        font-size: 40px;
        line-height: 60px;
    }

    #choices {
        margin-top: 200px;
    }

    #choice {
        border-right: 6px solid var(--second);
        text-align: center;
        align-items: center;
        justify-content: center;
        width: 400px;
        height: 650px;
        padding-left: 100px;
        padding-right: 100px;
        margin-bottom: 200px;
        margin-top: -100px;
        padding-bottom: 100px;
        border-width: 10px;
    }

    #price {
        font-size: 100px;
    }

    #details {
        font-size: 40px;
        line-height: 60px;
        margin-top: -50px;
        margin-bottom: 100px;
    }

    #book, #book1, #book2 {
        font-size: 50px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 30px;
        padding-bottom: 30px;
        border-width: 10px;
    }

    #qa {
        width: 850px;
        padding-top: 0; padding-bottom: 0; 
    }
    .qaheader {
        margin-top: 50px;
        border-width: 10px;
        height: 200px;
        font-size: 65px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .qainfo {
        font-size: 50px;
        padding-top: 0; padding-bottom: 0; 
        padding-left: 50px; padding-right: 50px;
    }
    #q1, #q2, #q3, #q4, #q5 {
        padding-top: 0; padding-bottom: 0; 
        padding-left: 50px; padding-right: 50px;
    }
    .day {
        font-size: 40px;
    }
    #daynum {
        width: 200px;
        font-size: 50px;
    }
    #qatext, #qatext1 {
        font-size: 40px;
        line-height: 60px;
    }
    #qatext1 {
        width: 500px;
        margin-left: 0px;
    }

    .qasec {
        flex-direction: column;
    }
    #qaimage, #qaimages, #qaimages2 {
        width: 600px;
        height: 400px;
        margin-top: 50px;
        border-width: 10px;
    }


}
