body {
    background: linear-gradient(rgb(11, 21, 52), var(--main)), url();
    pointer-events:all;
}

#back {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(23, 48, 149, 0.6)), url(./images/travel.jpg);
    height: 500px;
    margin-top: -30px;
    background-position: bottom right;
    padding-top: 100px;
    text-align: center;
    margin-bottom: 100px;
}

#section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#header {
    font-size: 70px;
    padding-top: 20px;
    text-transform: uppercase;
    font-weight: 700;
    border-top: 6px solid var(--second);
    border-left: 6px solid var(--second);
    color: white;
    width: 700px;
    margin-top: 0;
    text-align: center;
}

#planet {
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#planetimage {
    width: 250px;
    height: 250px;
}

#planetinfo {
    font-size: 18px;
    margin-left: 30px;
}
#planetheader {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--second);
    margin-bottom: -25px;
}
#planettext {
    font-size: 20px;
    color: white;
}

#disclaimer {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#choices {
    display: flex;
    justify-content: center;
    align-items: center;
}
#choice {
    background: linear-gradient(var(--main), rgb(25, 42, 73)), url();
    border-bottom: 6px solid var(--second);
    border-right: 6px solid var(--second);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    width: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}
#price {
    font-size: 40px;
    color: var(--second);
    font-weight: 700;
}

#details {
    color: white;
    margin-bottom: 30px;
}

#book, #book1, #book2 {
    width: 100px;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    outline: none;
    border: none;
    background: var(--main);
    color: white;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: "Poppins";
    transition: 0.2s;
}
#book:hover, #book1:hover, #book2:hover{
    color: var(--second);
    cursor: pointer;
}
