@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antonio:wght@200&display=swap');
html, body {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}

:root {
    --mbg: rgb(15, 18, 28);
    --main: #103361;
    --mainhover: #2675b9;
    --main2: rgb(33, 26, 63);
    --second: rgb(154, 221, 255);
    --third: rgb(255, 229, 113);
    --error: #ff7d7d;
}

body {
    background: rgb(15, 18, 28);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
	transition:all 0.3s;;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: gray;
}

#followmouse {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: absolute;
    text-align: center;
    border: 10px solid var(--second);
    animation: rotation 15s infinite;
    z-index: 100000;
    pointer-events: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: rotation 15s infinite;
}

@keyframes rotation {
    0% {

    }
    20% {

    }
    40% {

    }
    60% {
        
    }
    80% {

    }
    100% {

    }
}

#paget {
    width: 100%;
    height: 100%;
    right: 0;
    position: fixed;
    background: var(--mbg);
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    transition: 0.3s;
}
#pagettext {
    font-display: swap;
    opacity: 1;
    color: white;
    font-weight:bolder;
    font-size: 20vw;
    background: -webkit-linear-gradient(var(--second), var(--third));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    transition: 0.3s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#menu {
	position: fixed;
	margin-top: 0px;
	height: 60px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	align-items: center;
    justify-content: space-between;
	top: 0;
	left: 0;
	z-index: 99999;
	transition: 0.3s;
}
#menucontent {
	display: flex;
	justify-content: center;
	align-items: center;
}

#github-logo {
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: -10px;
    filter: invert();
}

#header-main {
    margin-top: 15px;
}

#username {
    margin-left: 40px;
	font-size: 25px;
	text-decoration: none;
	color: white;
    transition: 0.3s;
	color: var(--second);
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
	font-weight: 700;
	letter-spacing: 5px;
	margin-right: 20px;
}
#menubutton {
    font-family: "Poppins";
	display: none;
}

#username:hover {
    color: white;
    cursor: pointer;
}

#menu-button {
	background: transparent;
    filter: invert();
	pointer-events: all;
}

#logo {
	position: fixed;
	margin-left: 20px;
	margin-top: -10px;
	display: inline-block;
}

#first-tab {
	margin-left: 20px;
}
.menu-link {
    margin-left: 20px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	transition: 0.3s;
	display: inline-block;
	border-bottom: 3px solid transparent;
	pointer-events: all;
}

#menu-right {
    margin-right: 100px;
}


.menu-link:hover {
	color: var(--second);
	border-bottom: 3px solid var(--second);
    cursor: pointer;
}

#rightbutton1, #rightbutton2 {
	font-size: 18px;
	text-decoration: none;
	color: white;
	pointer-events: all;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid transparent;
    border-bottom: 3px solid var(--second);
    border-right: 3px solid var(--second);
    background: transparent;
    transition: 0.3s;
}
#rightbutton2 {
    margin-left: 5px;
    border: 3px solid transparent;
    border-top: 3px solid var(--third);
    border-left: 3px solid var(--third);

}
#rightbutton1:hover {
    color: var(--mainhover);
    border: 3px solid transparent;
    border-bottom: 3px solid var(--second);
    border-right: 3px solid var(--second);
    background: whitesmoke;
    cursor: pointer;
}
#rightbutton2:hover {
    color: var(--mainhover);
    border: 3px solid transparent;
    border-top: 3px solid var(--third);
    border-left: 3px solid var(--third);
    background: whitesmoke;
    cursor: pointer;
}



.header {
	font-size: 50px;
	z-index: 101;
	color: black;
	padding: 30px;
	padding-bottom: 20px;
	border-bottom: 3px solid rgb(77, 104, 129);;
	width: -moz-fit-content;
	width: fit-content;
}

#title {
    border-bottom: 4px solid var(--second);
    border-left: 4px solid var(--second);
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

#sub {
    color: white;
    font-size: 20px;
    margin-top: -70px;
}
#footer-main {
    margin-top: 200px;
    background: var(--mbg);
}

#contact {
    margin-top: 00px;
    width: 100%;
    height: 400px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    background: var(--main);
    display: flex;
	align-items: center;
    justify-content: center;

}
#contactheader {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: left;
	margin-top: -50px;
}
#copyright {
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 700;
    color: var(--third);
    text-align: left;
}

.contactdetails {
    padding-top: 150px;
    margin-left: 150px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    text-align: left;
}
.contacttitle {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 700;
    color: var(--second);
	margin-top: -35px;
    text-align: left;
}
.contactinfo {
    font-size: 17px;
    font-family: "Montserrat";
    line-height: 30px;
    color: white;
}
.contactdetail {
    width: 400px;
}

#social {
    width: 50px;
    transition: 0.3s;
	margin-top: -50px;
}
#social:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 1024px) {
    html,body{
        overflow-x: hidden;
    }
    #menu {
        height: 180px;
        width: 100vw;
        display: block;
        transition: 0.3s;
        overflow: hidden;
        padding-top: 50px;
		background: rgb(31, 40, 65);
    }
    #menucontent {
        display: flex;
    }
    #menubutton {
		background: transparent;
		color: white;
		font-size: 100px;
		transform: rotate(90deg);
		display:block;
		font-weight: 700;
        filter: opacity(100%);
        width: 150px;
        height: 150px;
        margin-left: 35vw;
        cursor: pointer;
        border: none;
        outline: none;
		transition: 0.2s;
    }

    #username {
        font-size: 60px;
        padding-left: 0px;
    }
    #tabs {
        display: block;
        text-align: center;
        width: 100vw;
        position: absolute;
        margin-left: 0px;
    }
    #tabs a, #menu-contact {
        display: inline-block;
        font-size: 40px;
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin-top: 30px;

    }
}

@media only screen and (max-width: 1024px) {
    #contact {
        height: 1500px;
        padding: 0;
        padding-bottom: 100px;
    }

    .contactdetails {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        width: 100%;
        
    }   
    #contactheader {
        text-align: center;
        margin: 0;
        margin-top: 150px;
        font-size: 100px;
    }
    #social {
        width: 100px;
        margin-top: 30px;
    }
    #copyright {
        margin: 0;
        padding: 0;
        margin-top: 30px;
        text-align: center;
        font-size: 40px;
        width: 100%;
    }
    
    .contactdetail {
        margin: 0;
        margin-top: 50px;
        width: 100%;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contacttitle {
        width: 100%;
        text-align: center;
        font-size: 50px;
        margin-top: 50px;
    }
    .contactinfo {
        font-size: 40px;
        line-height: 60px;
    }


}
