@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Antonio:wght@200&display=swap');
html, body {
	margin: 0;
	padding: 0;
	font-family: "Poppins";
	pointer-events: none;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100vw;
}

:root {
    --main: rgb(15, 18, 28);
    --second: rgb(154, 221, 255);
}

body {
    background: rgb(15, 18, 28);
    padding: 0; 
    margin: 0;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
	transition:all 10s;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: gray;
}

#menu {
	position: fixed;
	margin-top: 0px;
	height: 60px;
	width: 100%;
	padding-top: 20px;
	top: 0;
	left: 0;
	z-index: 99999;
	background-color: transparent;
	transition: 0.5s;
}

#github-logo {
    border-radius: 30px;
    margin-left: 20px;
    margin-bottom: -10px;
    filter: invert();
}

#username {
    margin-left: 10px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

#username:hover {
    color: grey;;
}

#menu-button {
    filter: invert();
	pointer-events: all;
	display: none;
}

#logo {
	position: fixed;
	margin-left: 20px;
	margin-top: -10px;
	display: inline-block;
}

#first-tab {
	margin-left: 20px;
}
.tab {
	margin-left: 20px;
	margin-top: 5px;
	font-size: 18px;
	text-decoration: none;
	color: white;
	transition: 0.2s;
	display: inline-block;
	border-bottom: 0px solid transparent;
	border-width: 1px;
	pointer-events: all;
}

.tab:hover {
	color: turquoise;
	border-bottom: 1px solid turquoise;
}
.border-light-blue {
    border-color: rgb(103, 181, 255);
}

.border-darkish-blue {
    border-color: rgb(0, 104, 202);
}

@keyframes move-around {
	0% {background-position-y: -100px;}
	17% {background-position-y: -50px; background-position-x: -50px;}
	33% {background-position-y: -20px; background-position-x: -30px;}
	50% {background-position-y: -80px; background-position-x: -10px;}
	67% {background-position-y: -10px; background-position-x: -70px;}
	83% {background-position-y: -20px; background-position-x: -10px;}
	100% {background-position-y: -100px; background-position-x: -100px;}
}

* {
	scroll-behavior: smooth;
	transition: 0.3s;
}

a {
	pointer-events: all;
}

.align-center { text-align: center; }

.container {
	align-items: center;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	display: flex;
}

.header {
	font-size: 50px;
	z-index: 101;
	color: black;
	padding: 30px;
	padding-bottom: 20px;
	border-bottom: 3px solid rgb(77, 104, 129);;
	width: -moz-fit-content;
	width: fit-content;
}

.margin-auto {
	margin-left: auto;
	margin-right: auto;
}

.white {
	color: whitesmoke;
}

#tabs-m {
	display: none;
	overflow-y: hidden;
	transition: 0.3s;
	height: 0;
}


#title {
    border-bottom: 4px solid var(--second);
    border-left: 4px solid var(--second);
    width: 700px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
}

#sub {
    color: white;
    font-size: 20px;
    margin-top: -70px;
}
#contact {
    margin-top: 75px;
    width: 100%;
    height: 400px; 
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    background: #151f32;
    display: flex;
	align-items: center;
    justify-content: center;
}
#contactheader {
    font-family: "Poppins";
    font-size: 50px;
    font-weight: 700;
    color: white;
    text-align: left;
	margin-top: -50px;
}
#copyright {
    font-family: "Poppins";
    font-size: 17px;
    font-weight: 700;
    color: var(--second);
    text-align: left;
}

.contactdetails {
    padding-top: 35px;
    margin-left: 150px;
    padding-bottom: 0;
    display: flex;
    justify-content: center;
    text-align: left;
}
.contacttitle {
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 700;
    color: var(--second);
	margin-top: -35px;
    text-align: left;
}
.contactinfo {
    font-size: 17px;
    font-family: "Montserrat";
    line-height: 30px;
    color: white;
}
.contactdetail {
    width: 400px;
}

#social {
    width: 50px;
    transition: 0.2s;
	margin-top: -50px;
}
#social:hover {
    transform: scale(1.2);
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
	body::-webkit-scrollbar {
		display: none;
	}

	.paragraph {
		width: 90vw !important;
		font-size: 19px !important;
	}

	#bg {
		width: 250% !important;
		margin-left: -80%;
	}

	.social-surrounding {
		margin-left: auto !important;
		margin-right: auto !important;
		padding-bottom: 10px !important;
	}

	.copied {
		margin-right: auto !important;
		text-align: center !important;
		margin-left: auto !important;
	}

	.social-icon {
		margin-bottom: -5px;
	}

	#contact-section {
		text-align: center !important;
		height: 300px !important;
	}

	#menu-button {
		position: fixed;
		display: inline !important;
		right: 20px;
		width: 30px;
		top: 30px;
		pointer-events: all;
		z-index: 99999;
	}

	#tabs { display: none; }
	.tab, #tabs-m { display: block !important; }
	#tabs-m {line-height: 3; margin-top: 25px;}

	#name {
		margin-top: 50px;
		font-size: 50px !important;
	}

	.container {
		display: block;
	}

	#experience-section {
		height: 1100px !important;
		padding-top: 70px !important;
		padding-bottom: 250px !important;
	}

	#about-section {
		height: 690px !important;
		padding-top: 50px !important;
		padding-bottom: 350px !important;
	}

	#about-paragraph {
		margin-left: 0px !important;
		text-align: center !important;
	}
}