body {
    background: linear-gradient(rgb(11, 21, 52), var(--main)), url();
    pointer-events:all;
}

#back {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(23, 48, 149, 0.6)), url(./images/building.jpg);
    height: 500px;
    margin-top: -30px;
    background-position: center;
    padding-top: 100px;
    text-align: center;
}

#disclaimer {
    font-size: 25px;
    text-align: center;
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
#section {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
#header {
    font-size: 70px;
    color: var(--second);
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
}
#text {
    font-size: 18px;
    color: white;
    margin-left: 20px;
}
#secimg1, #secimg2, #secimg4 {
    background: url(./images/park.png);
    width: 1000px;
    height: 500px;
    background-size: cover;
    margin-bottom: 50px;
}

#secimg2 {
    background: url(./images/museum.png);
    background-size: cover;
    background-position: center left;
}

#secimg4 {
    background: url(./images/foodcourt.png);
    background-size: cover;
    background-position: center;
}

@media only screen and (max-width: 1024px) {
    #back {
        height: 800px;
        padding-top: 500px;
        background-position: center;
    }
    #title {
        font-size: 100px;
    }
    #sub {
        font-size: 40px;
        padding-left: 50px;
        padding-right: 50px;
    }

    #disclaimer {
        font-size: 30px;
        width: 900px;
        margin-top: 100px;
    }

    #section {
        height: 1600px;
        width: 900px;
    }

    #header { 
        border-left: 6px solid var(--second);
        border-top: 6px solid var(--second);
        color: white;
     }

    #secimg1, #secimg2, #secimg3, #secimg4 {
        width: 900px;
        height: 1000px;
        margin-left: auto;
        margin-right: auto;
        background-position: center;
    }
    
    #text {
        font-size: 40px;
    }
}